.sidebar-parent {
  padding-right: 2rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}
.filter-text {
  height: 3rem;
  width: 100%;
}
