.adduser-sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.candidate-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  width: 50vw;
}
.atlasian-input {
  width: 300px;
  padding: 0.8rem;
  border: 1px solid rgba(1, 1, 1, 0.2);
}

.input-element {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.1rem;
}
.input-label {
  color: grey;
  font-weight: 600;
  font-size: 0.8rem;
}
